@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto|Zilla+Slab+Highlight");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px; }

body {
  font-size: 100%; }

* {
  box-sizing: border-box; }

label, input, select {
  display: block;
  margin-bottom: 0.6em;
  font-size: 1em;
  padding: 0.7em;
  border-radius: 2px; }

label {
  font-weight: bold; }

select {
  width: 100%;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 2px;
  background-image: linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(to right, #283593, #283593);
  background-position: calc(100% - 0.8em) 1em, calc(100% - 1.5em) 1em, 100% 0%;
  background-size: 0.7em 0.8em, 0.7em 0.7em, 3em 3em;
  background-repeat: no-repeat; }

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.triangle {
  display: block;
  width: 10px;
  height: 10px;
  border-left: transparent;
  border-right: transparent;
  border-top: #dce775;
  border-bottom: transparent;
  border-width: 10px;
  border-style: solid; }

input {
  border: solid 1px #000; }

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  border: solid 1px #000;
  width: 2em;
  height: 2em; }

input[type="checkbox"]:after {
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: #fff;
  content: "✓";
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  visibility: hidden; }

input[type="checkbox"]:checked:after {
  visibility: visible; }

hr {
  color: #283593;
  background-color: #283593;
  border-color: #283593;
  border-style: solid;
  border-width: 1px; }

.btn {
  padding: 0.7em;
  font-size: 1em;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px #AAAAAA; }
  .btn-primary {
    background-color: #000;
    border-color: transparent; }
  .btn-secondary {
    background-color: #283593;
    border-color: transparent; }

.row {
  margin-top: 40px;
  margin-bottom: 40px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 1200px) {
  .col-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-3 {
    float: left;
    width: 25%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-3 {
    float: left;
    width: 25%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-3 {
    float: left;
    width: 25%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-3 {
    float: left;
    width: 25%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-6 {
    float: left;
    width: 50%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-6 {
    float: left;
    width: 50%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-6 {
    float: left;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-6 {
    float: left;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-9 {
    float: left;
    width: 75%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-9 {
    float: left;
    width: 75%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-9 {
    float: left;
    width: 75%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-9 {
    float: left;
    width: 75%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-12 {
    float: left;
    width: 100%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-12 {
    float: left;
    width: 100%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 1.3em; } }

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-12 {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 0px) and (max-width: 768px) {
  .col-xs-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px;
    padding-left: 0; } }

[class*='col-']:last-of-type {
  padding-right: 0; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

/*
  font-family: 'Zilla Slab Highlight', cursive;
  font-family: 'Roboto', sans-serif;
*/
html {
  font-size: 16px; }

body {
  font-size: 100%; }

* {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Zilla Slab Highlight', cursive; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.3em; }

h4 {
  font-size: 1.1em; }

ul {
  padding: 0; }

li {
  list-style-type: none;
  border-bottom: solid 1px #DDDDDD;
  padding: 10px;
  line-height: 1.5em; }

header {
  padding: 20px; }

input {
  width: 100%; }

#_users .inner, #offices .inner {
  background-color: #f7f7f7; }

#user-form, #office-form {
  padding: 10px; }

@media (min-width: 768px) {
  main {
    margin-right: 20px; } }

@media (max-width: 768px) {
  main {
    margin-right: 0; } }
